In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/preprocessed_data(final).csv')
df.head()

,Unnamed: 0,client_id,order_id,item_name,quantity,price,date
0,0,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,1,16.0,2022-01-24
1,1,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Krombacher,1,8.0,2022-01-24
2,2,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Ahi Tuna,1,23.0,2022-01-24
3,3,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Little Gem Salad,1,14.0,2022-01-24
4,4,ahNzfnNldmVucm9vbXMtc2VjdXJlcicLEhpuaWdodGxvb3...,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Fire Pie,1,20.0,2022-01-24

In [4]:
df['price'].describe()[['max','min']]

max    6975.0
min       0.0
Name: price, dtype: float64

In [66]:
orders_df = df[['order_id','item_name']]
orders_df.head()

                                            order_id         item_name
0  ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...         Cosmonaut
1  ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...        Krombacher
2  ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...          Ahi Tuna
3  ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...  Little Gem Salad
4  ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...          Fire Pie

In [67]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
orders_df['encoded_order_id'] = le.fit_transform(orders_df['order_id'])

<ipython-input-67-bfbb8ed69180>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders_df['encoded_order_id'] = le.fit_transform(orders_df['order_id'])

In [68]:
orders_df

,order_id,item_name,encoded_order_id
0,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Cosmonaut,13492
1,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Krombacher,13492
2,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Ahi Tuna,13492
3,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Little Gem Salad,13492
4,ahNzfnNldmVucm9vbXMtc2VjdXJlciULEhtuaWdodGxvb3...,Fire Pie,13492
...,...,...,...
635820,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,HH Etta Rita,72480
635821,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,HH Negroni,72480
635822,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,Rack Roasted Oysters,72480
635823,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,Roasted Branzino,72480
635824,ahNzfnNldmVucm9vbXMtc2VjdXJlcigLEhtuaWdodGxvb3...,Brussels Sprouts,72480

In [72]:
unique_item_name = orders_df['item_name'].unique()

In [76]:
unique_item_name = pd.DataFrame(unique_item_name)

In [77]:
unique_item_name.to_csv('/content/drive/MyDrive/Colab Notebooks/unique_item_name.csv')

In [69]:
grouped_df = orders_df.groupby('encoded_order_id')['item_name'].apply(list)

In [71]:
grouped_df

encoded_order_id
0        [Mimosa Package, Fire Pie, Breakfast Sandwich,...
1        [Focaccia, Iced Tea, Bubbling Shrimp, Hearth R...
2        [sunset on damen, Margaritas For Everyone, Moc...
3        [Well Tequila (Centenario Plata), Fire Pie, Fr...
4        [Lyre's Amalfi Spritz N/A, Focaccia, Grilled C...
                               ...
80487    [La Colombe Regular Coffee, Paloma Tequila, Br...
80488                          [La Colombe Regular Coffee]
80489    [Kids Lemonade, Etta Rita, Etta Old Fashioned,...
80490    [Mimosa Package, Etta Soft Scramble, Crispy Po...
80491    [Avocado Toast, French Toast, The "etta" Chopp...
Name: item_name, Length: 80492, dtype: object

In [70]:
grouped_df.to_csv('/content/drive/MyDrive/Colab Notebooks/grouped_items.csv')